<!DOCTYPE html>

html
	head
		link(rel = "stylesheet" type = "text/css" href = "style.css")

		title orgviz

		meta(charset="UTF-8")

	body
		header 
			h1 orgviz
			a#headerLink(href = "http://github.com/jamesread/orgviz/" target = "_new") orgviz docs
			a#headerLink(href = "http://github.com/jamesread/orgviz/" target = "_new") GitHub repo

		main
			div#webserviceView.view
				h2#webserviceTitle From webservice

				span#webserviceKeyName
				input#webserviceKey

				button#sendWebservice Update
				span#waitMessage(hidden) Please wait...

				p 
					strong Note:
					The web UI does not support any sort of filtering at the moment.

			div#inputView.view
				div#titleAndLink
					h2 org File Input 
					a(href = "https://github.com/jamesread/orgviz/#3-organization-input-file-syntax" target = "_new") org File Syntax Reference
	
				div#editingArea
					textarea.
						Alice
							title: CEO
							reports -> Bob
							dmu: D
							sentiment: O
						
						Bob
							title: Systems Engineer
							dmu: U
							sentiment: P

						Charles
							title: CFO
							reports -> Alice
							hates -> Bob
							dmu: G

					div#editToolbar 
						span 
							button#sendFile Update

				p.warning
					strong WARNING: 
					span Changes are not saved! Keep your org file locally!

			div#imageView.view
				h2 Image Output

				div#resultContents Loading... 

		script(src = "main.js") 
		script.
			initOrgviz()
