html, body {
	height: 100%;	
}

body {
	font-family: sans-serif;
	margin: 0;
	padding: 0;
	background-color: #efefef;
	display: flex;
	flex-direction: column;
}

h1 {
	font-family: "Overpass", sans-serif;
	margin: 0;
	flex-grow: 1;
}

h2 {
	font-family: "Overpass", sans-serif;
	margin: 0;
}

header {
	background-color: #444;
	color: white;
	padding: .3em;
	display: flex;
}

textarea {
	min-height: 300px;
	border: 1px solid black;
	margin: 0;
	resize: none;
	padding: .2em;
	flex-grow: 1;
}

div#editingArea {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
}

main {
	display: flex;
	padding: .5em;
	flex-grow: 1;
}

.view {
	border: 1px solid gray;
	background-color: white;
	padding: 1em;
	flex-grow: 1;
}

.view#inputView {
	resize: horizontal;
	overflow: auto;
	border-right: 0;
	display: flex;
	flex-direction: column;
}

div#editToolbar {
	background-color: #eee;
	border: 1px solid black;
	border-top: 0;
	padding: .4em;
}

div#editToolbar span {
	padding: .2em;
	margin: .2em;
}

div#editToolbar * {
	vertical-align: middle;
}

a#headerLink {
	color: skyblue !important;
	text-align: right;
	vertical-align: bottom;
	margin: auto;
	margin-right: 1em;
}

p:last-child {
	margin-bottom: 0;
}

button {
	border: 1px solid gray;
	background-color: #7FFF00;
	padding: .4em;
	cursor: pointer;
}

button:hover {
	border: 1px solid black;
}

button:disabled {
	background-color: gray;
}

div#titleAndLink {
	display: flex;
}

div#titleAndLink h2 {
	flex-grow: 1;
}

div#titleAndLink a {
	margin: auto;
	font-size: smaller;
	text-decoration: none;
}

p.warning {
	color: orange;
}

.error {
	background-color: salmon;
	color: black;
	padding: 1em;
}
